{% extends "layout.html" %}
{% block title %}{{ L('siteadmin_title') }}{% endblock %}
{% block contentcontainer %}
	{% if message %}
		<div class="main-container margin-y">
			<aside class="message">{{ message|raw }}</aside>
		</div>
	{% endif %}
	
	<main class="main main-container">
		<section id="siteadmin-nav" class="popup-container">
			<div class="inline-form">
				<a class="button" href="{{ url_for('siteadmin') }}">{{ L('siteadmin_title') }}</a>
				<a class="button" href="{{ url_for('siteadmin-client') }}">{{ L('siteadmin_clients_title') }}</a>
			</div>
		</section>
	
		{% block siteadmincontent %}{% endblock %}
	</main>
{% endblock %}
