<header class="main-header">
	<nav class="main-nav main-container">
		<ul class="nav-section">
			<li><a class="nav-brand {% if is_current_url('index') %}nav-active{% endif %}" href="{{ url_for('index') }}">{{ site_title }}</a></li>
			{% if user %}
				{% if user.canPerform('siteadmin') %}
					<li><a class="{% if is_current_url('siteadmin') %}nav-active{% endif %}" href="{{ url_for('siteadmin') }}">{{ L('siteadmin_title') }}</a></li>
				{% endif %}
			{% endif %}
		</ul>

		<ul class="nav-section">
			{% if user %}
				<li><a class="{% if is_current_url('usersettings') %}nav-active{% endif %}" href="{{ url_for('usersettings') }}">{{ user.name_combined() }}</a></li>
				<li><a class="{% if is_current_url('auth-logout') %}nav-active{% endif %}" href="{{ url_for('auth-logout') }}">{{ L('auth_logout_title') }}</a></li>
			{% else %}
				<li><a class="{% if is_current_url('auth-login') %}nav-active{% endif %}" href="{{ url_for('auth-login') }}">{{ L('auth_login_title') }}</a></li>
			{% endif %}
		</ul>
	</nav>
</header>
