<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}Magenta{% endblock %}</title>
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="/static/styles/main.css">
	{% endblock %}
</head>
<body>
	{% block body %}
		{% block header %}{% include "includes/header.html" %}{% endblock %}
		{% block contentcontainer %}
			<main class="main main-container">
				{% block content %}{% endblock %}
			</main>
		{% endblock %}
		{% block footer %}{% include "includes/footer.html" %}{% endblock %}
	{% endblock %}
</body>
</html>
